<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 配置 Dao 接口 -->
<mapper namespace="io.stayhungrystayfoolish.aop.dao.UserDao">
    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO user (name,age) VALUES (#{name}, #{age});
    </insert>

    <update id="update" parameterType="User">
        UPDATE user SET name = #{name}, age=#{age} WHERE id = #{id};
    </update>
    <select id="findById" parameterType="java.lang.Long"
            resultType="User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="findAll" resultType="User">
        SELECT * FROM user;
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM user WHERE id = #{id};
    </delete>
</mapper>
