<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tool"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd"
       xmlns:aop="http://www.springframework.org/schema/aop"
>

    <!-- 配置 AOP 目标对象-->
    <bean class="io.stayhungrystayfoolish.aop.service.impl.UserServiceImpl"/>

    <!-- 配置 AOP 通知类 -->
    <bean class="io.stayhungrystayfoolish.aop.advice.XMLAdvice"/>

    <!--
    proxy-target-class 标签默认省略，Spring AOP 默认使用 JDK 动态代理，
    只有当该类没有实现接口时，自动创建 CGLIB 代理。若强制使用 CGLIB 代理，则改为 true。
    -->
    <!--<tx:annotation-driven >-->
    <!--<aop:aspectj-autoproxy>-->
    <!--<aop:config >-->
    <!-- 以上三个标签都可以使用该属性，详见 @link: https://docs.spring.io/spring/docs/2.5.x/reference/aop.html -->
    <aop:config proxy-target-class="false">

    </aop:config>
</beans>
